@import "tailwindcss";

nav {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
  overflow-x: hidden;
  overflow: auto;
  scrollbar-width: none;
  background-color: #000000;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.841) 85%
  );
}
@layer utilities {
  .backdrop-blur-lg {
    backdrop-filter: blur(16px);
  }
}

.dropdown-container .dropdown-group {
  transition: all 0.3s ease;
}

.dropdown-container .dropdown-group:hover {
  z-index: 10;
}

.dropdown-container .dropdown-group button {
  transition: color 0.2s ease;
}

.transform {
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #1a1a1a 4%, #2a2a2a 25%, #1a1a1a 36%);
  background-size: 1000px 100%;
}
